*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(230, 230, 248);
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main>div{
    margin: 5em;
    line-height: 80%;
}
h1{
    font-size:300%;
    font-style: bold;
    color: rgb(72, 72, 255);
    word-spacing: 90%;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 30vw;
    height: 50vh;
    padding: 20px;
    border: rgba(71, 75, 78, 0.192) solid 1px;
    border-radius: 7px;
    box-shadow: rgba(73, 72, 70, 0.26) 2px 2px 5px;
}
input{
    padding: 7px;
    margin: 5px;
    border: rgba(77, 74, 70, 0.404) solid 1px;
    border-radius: 5px;
    background-color: white;
    width: inherit;
    width: 90%;
    height: 12%;
}

input#login{
    height: 12%;
    color: white;
    background-color: rgb(72, 72, 255);
    cursor: pointer;
}
input#new{
    width: max-content;
    height: 12%;
    color: white;
    background-color: green;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: small;
    color: rgb(62, 74, 85);
    margin-top: -5px;
}
footer{
    height: fit-content;
    padding:5px 10vw 5px 10vw
}
p.languages,.copy{
    font-size: small;
    color: rgb(54, 54, 54);
}
